h1, h2, h3, p{
  font-family: Helvetica;
}
h1, h2, .price{
  font-weight: bold;
}
h1{
  font-size: 100px;
  text-align: center;
  color: khaki;
  background-image: url("./photos/pattern.jpeg");
}
h2{
  font-size: 32px;
  color: White;
}
#brushes{
  background-color: MediumSpringGreen;
}
#frames{
  background-color: LightCoral;
}
#paint{
  background-color: SkyBlue;
}
.price{
  color: Blue;
}
